/* HomePage.css */
.home-page {
  position: relative;
}

.background-image {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Make it full height */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(230, 214, 214); /* Ensure text is readable on the image */
  text-align: left;
}

.content {
  margin-top: auto; /* Push content to the bottom */
  padding: 20px;
}

.content h1 {
  font-size: 3.5rem;
  margin-bottom: 217px;
}

.content p {
  font-size: 1.5rem;
  line-height: 1.5; /* Adjust line height for better readability */
  margin-bottom: 10px; /* Add space between each line */
}

.content hr {
  border: none; /* Remove default border */
  border-top: 1px solid white; /* Add top border with white color */
  margin: 20px 0; /* Add margin above and below the horizontal line */
}
